{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div>
            <nav>
                <p>Hi {{ user.username }}!</p>
                <p><a href="{% url 'password_change' %}">Password Change</a></p>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Log Out</button>
                </form>
            </nav>
            <main>
                <p><a href="{% url 'explore' %}">Explore</a></p>
            </main>
            <footer></footer>
        </div>
    {% else %}
        <main>
            <div class="container">
                <div>
                    <p>You are not logged in</p>
                    <p><a href="{% url 'signup' %}">Sign in</a> </p>
                    <p><a href="{% url 'login' %}">Log In</a></p>
                </div>
            </div>
        </main>
    {% endif %}
{% endblock %}